* {box-sizing: border-box;}
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  margin: 0;
}
h1, h2, h3, h4 {
  font-weight: 300;
}
h1 {
  text-align: center;
  margin-top: 30px;
}
.content {
  max-width: 500px;
  margin: 30px auto 0;
}
b {
  display: block;
  margin-top: 30px;
  font-size: 1.2rem;
  font-weight: 500;
}
li {
  list-style-type: none;
  font-size: 1rem;
  background-color: whitesmoke;
  transition: all .2s;
  padding: 12px 15px;
  border-radius: 5px;
}
li + li {
  margin-top: 10px;
}
ul {
  padding: 0;
}
iframe {
  border: none;
}
.name {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}
.name a {
  font-size: 0.9rem;
  font-weight: 400;
}
.bottom {
  font-size: .9rem;
  margin-top: 5px;
}
.bottom .professor {
  text-transform: capitalize;
}
.bottom .times {
  margin-top: 7px;
}
.bottom .times span.day {
  display: inline-block;
  padding: 3px;
  background-color: #eaeaea;
  color: lightgray;
  margin: 0 2px;
  border-radius: 4px;
  width: 24px;
  text-align: center;
  font-size: .8rem;
}
.bottom .times span.day.yes {
  background-color: darkseagreen;
  color: white;
}
.bottom .times span.hours {
  margin-left: 12px;
}
